.main-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 246, 221);
}

.white-box {
  border: 1px solid rgb(138, 140, 139);
  border-radius: 50px;
  background-color: aliceblue;
}